In [1]:
# Setup
import pandas as pd
from pathlib import Path

# File Path
school_data_to_load = Path(".", "Resources", "schools_complete.csv")
student_data_to_load = Path(".", "Resources", "students_complete.csv")

# Read in Data file and store as a DF
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Create one dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [3]:
# Calculate the total number of unique schools

school_count = pd.unique(school_data_complete['school_name'].tolist()).size
school_count

15

In [4]:
# Calculate the total number of students
total_students = pd.Series(school_data_complete['student_name']).count()
total_students

39170

In [5]:
# Calculate the total budget
unique_schools_budget = school_data_complete.drop_duplicates(subset=['school_name'])
total_budget = unique_schools_budget['budget'].sum()
total_budget

24649428

In [6]:
# Calculate the average (mean) math score
average_math_score = school_data_complete['math_score'].mean()
average_math_score

78.98537145774827

In [7]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete['reading_score'].mean()
average_reading_score

81.87784018381414

In [8]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete['math_score'] >= 70)].count()['student_name']
passing_math_percentage = passing_math_count / float(total_students) * 100
passing_math_percentage

74.9808526933878

In [9]:
# Calculate the percentage of students who passed reading  
passing_reading_count = school_data_complete[(school_data_complete['reading_score'] >= 70)].count()['student_name']
passing_reading_percentage = passing_reading_count / float(total_students) * 100
passing_reading_percentage

85.80546336482001

In [10]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(total_students) * 100
overall_passing_rate

65.17232575950983

In [11]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
# school_data_complete = school_data_complete
district_summary = pd.DataFrame({
   'Total Schools': [""],
    'Total Students': [""],
    'Total Budget': [""],
    'Average Math Score': [""],
    'Average Reading Score': [""],
    '% Passing Math': [""],
    '% Passing Reading': [""],
    '% Overall Passing': [""] 
})

#print("school data!!!!!!!!: ",school_data_complete.columns)

# Formatting
district_summary['Total Schools'] = '{:,}'.format(school_count)
district_summary['Total Students'] = '{:,}'.format(total_students)
district_summary['Total Budget'] = '${:,.2f}'.format(total_budget)
district_summary['Average Math Score'] = '${:,.2f}'.format(average_math_score)
district_summary['Average Reading Score'] = '${:,.2f}'.format(average_reading_score)
district_summary['% Passing Math'] = '{:,.2f}%'.format(passing_math_percentage)
district_summary['% Passing Reading'] = '{:,.2f}%'.format(passing_reading_percentage)
district_summary['% Overall Passing'] = '{:,.2f}%'.format(overall_passing_rate)


# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",$78.99,$81.88,74.98%,85.81%,65.17%

## School Summary

In [13]:
# Use the code provided to select all of the school types
school_types = school_data.set_index('school_name')['type']

In [14]:
# Calculate the total student count per school
per_school_counts = school_data_complete.groupby('school_name')['Student ID'].count()

In [15]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data_complete.groupby('school_name')['budget'].first()
per_school_count = school_data_complete.groupby('school_name')['Student ID'].count()
per_school_capita = per_school_budget / per_school_count

In [16]:
#print(school_data_complete.head())
#print(school_data.head())

In [17]:
# Calculate the average test scores per school
per_school_math = school_data_complete.groupby('school_name')['math_score'].mean()
per_school_reading = school_data_complete.groupby('school_name')['reading_score'].mean()

In [18]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[school_data_complete['reading_score']>= 70]
school_students_passing_reading = students_passing_reading.groupby('school_name')['Student ID'].count()

In [19]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_math = school_data_complete[school_data_complete['math_score']>= 70]
school_students_passing_math = students_passing_math.groupby('school_name')['Student ID'].count()

In [20]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [21]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [22]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
   'School Type': school_types,
    'Total Students': per_school_counts,
    'Total School Budget': per_school_budget,
    'Per Student Budget': per_school_capita,
    'Average Math Score': per_school_math,
    'Average Reading Score': per_school_reading,
    '% Passing Math': school_students_passing_math,
    '% Passing Reading': school_students_passing_reading,
    '% Overall Passing': overall_passing_rate  
 })  
    

# Formatting
per_school_summary['Total Students'] = per_school_summary['Total Students'].map("{:,}".format)
per_school_summary['Total School Budget'] = per_school_summary['Total School Budget'].map("${:,.2f}".format)
per_school_summary['Per Student Budget'] = per_school_summary['Per Student Budget'].map("${:,.2f}".format)
per_school_summary['Average Math Score'] = per_school_summary['Average Math Score'].map("{:,.2f}".format)
per_school_summary['Average Reading Score'] = per_school_summary['Average Reading Score'].map("{:,.2f}".format)
per_school_summary['% Passing Math'] = per_school_summary['% Passing Math'].map("{:,.2f}%".format)
per_school_summary['% Passing Reading'] = per_school_summary['% Passing Reading'].map("{:,.2f}%".format)
per_school_summary['% Overall Passing'] = per_school_summary['% Overall Passing'].map("{:,.2f}%".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,"3,318.00%","4,077.00%",54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,"1,749.00%","1,803.00%",91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,"1,946.00%","2,381.00%",53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,"1,871.00%","2,172.00%",54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,"1,371.00%","1,426.00%",90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,"3,094.00%","3,748.00%",53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,395.00%,411.00%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,"1,916.00%","2,372.00%",53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,"3,145.00%","3,867.00%",53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,910.00%,923.00%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,"2,654.00%","3,208.00%",52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,"1,653.00%","1,688.00%",89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,"1,525.00%","1,591.00%",90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,"2,143.00%","2,204.00%",90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,"1,680.00%","1,739.00%",90.33%

## Highest-Performing Schools (by % Overall Passing)

In [24]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values('% Overall Passing', ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,"1,749.00%","1,803.00%",91.33%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,"1,525.00%","1,591.00%",90.95%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,"1,371.00%","1,426.00%",90.60%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,"2,143.00%","2,204.00%",90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,910.00%,923.00%,90.54%

## Bottom Performing Schools (By % Overall Passing)

In [26]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values('% Overall Passing', ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,"2,654.00%","3,208.00%",52.99%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,"1,946.00%","2,381.00%",53.20%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,"1,916.00%","2,372.00%",53.51%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,"3,094.00%","3,748.00%",53.53%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,"3,145.00%","3,867.00%",53.54%

## Math Scores by Grade

In [28]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = school_data_complete[(school_data_complete)['grade'] == "9th"].groupby('school_name')['math_score'].mean()
tenth_grade_math_scores = school_data_complete[(school_data_complete)['grade'] == "10th"].groupby('school_name')['math_score'].mean()
eleventh_grade_math_scores = school_data_complete[(school_data_complete)['grade'] == "11th"].groupby('school_name')['math_score'].mean()
twelfth_grade_math_scores = school_data_complete[(school_data_complete)['grade'] == "12th"].groupby('school_name')['math_score'].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    '9th': ninth_grade_math_scores,
    '10th': tenth_grade_math_scores,
    '11th': eleventh_grade_math_scores,
    '12th': twelfth_grade_math_scores,
})    

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Scores bt Grade

In [30]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = school_data_complete[(school_data_complete)['grade'] == "9th"].groupby('school_name')['reading_score'].mean()
tenth_grade_reading_scores = school_data_complete[(school_data_complete)['grade'] == "10th"].groupby('school_name')['reading_score'].mean()
eleventh_grade_reading_scores = school_data_complete[(school_data_complete)['grade'] == "11th"].groupby('school_name')['reading_score'].mean()
twelfth_grade_reading_scores = school_data_complete[(school_data_complete)['grade'] == "12th"].groupby('school_name')['reading_score'].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    '9th': ninth_grade_reading_scores,
    '10th': tenth_grade_reading_scores,
    '11th': eleventh_grade_reading_scores,
    '12th': twelfth_grade_reading_scores,
}) 

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [32]:
# Establish the bins 

spending_bins = [0,585, 630, 645, 675]
labels = ["<$585", "$585-629", "$630-644", "$645-675"]

per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,"3,318.00%","4,077.00%",54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,"1,749.00%","1,803.00%",91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,"1,946.00%","2,381.00%",53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,"1,871.00%","2,172.00%",54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,"1,371.00%","1,426.00%",90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,"3,094.00%","3,748.00%",53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,395.00%,411.00%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,"1,916.00%","2,372.00%",53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,"3,145.00%","3,867.00%",53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,910.00%,923.00%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,"2,654.00%","3,208.00%",52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,"1,653.00%","1,688.00%",89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,"1,525.00%","1,591.00%",90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,"2,143.00%","2,204.00%",90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,"1,680.00%","1,739.00%",90.33%

In [33]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [34]:
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=labels, right=False)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,"3,318.00%","4,077.00%",54.64%,$585-629
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,"1,749.00%","1,803.00%",91.33%,<$585
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,"1,946.00%","2,381.00%",53.20%,$630-644
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,"1,871.00%","2,172.00%",54.29%,$630-644
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,"1,371.00%","1,426.00%",90.60%,$585-629
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,"3,094.00%","3,748.00%",53.53%,$645-675
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,395.00%,411.00%,89.23%,<$585
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,"1,916.00%","2,372.00%",53.51%,$645-675
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,"3,145.00%","3,867.00%",53.54%,$645-675
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,910.00%,923.00%,90.54%,$585-629
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,"2,654.00%","3,208.00%",52.99%,$630-644
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,"1,653.00%","1,688.00%",89.89%,$585-629
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,"1,525.00%","1,591.00%",90.95%,$630-644
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,"2,143.00%","2,204.00%",90.58%,<$585
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,"1,680.00%","1,739.00%",90.33%,<$585

In [35]:
# # Calculate the mean scores per spending range
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean(numeric_only=True) 
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean(numeric_only=True)
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean(numeric_only=True)
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean(numeric_only=True)
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean(numeric_only=True)

In [38]:
# Assemble into DataFrame

spending_summary = pd.concat([spending_math_scores, spending_reading_scores,
                              spending_passing_math, spending_passing_reading,
                              overall_passing_spending], axis=1)

# Display results
spending_summary

Empty DataFrame
Columns: []
Index: [<$585, $585-629, $630-644, $645-675]

## Scores by School Size

In [39]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [49]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(per_school_counts, size_bins, labels=labels, right=False)
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,"3,318.00%","4,077.00%",54.64%,Large (2000-5000)
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,"1,749.00%","1,803.00%",91.33%,Medium (1000-2000)
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,"1,946.00%","2,381.00%",53.20%,Large (2000-5000)
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,"1,871.00%","2,172.00%",54.29%,Large (2000-5000)
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,"1,371.00%","1,426.00%",90.60%,Medium (1000-2000)
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,"3,094.00%","3,748.00%",53.53%,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,395.00%,411.00%,89.23%,Small (<1000)
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,"1,916.00%","2,372.00%",53.51%,Large (2000-5000)
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,"3,145.00%","3,867.00%",53.54%,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,910.00%,923.00%,90.54%,Small (<1000)
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,"2,654.00%","3,208.00%",52.99%,Large (2000-5000)
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,"1,653.00%","1,688.00%",89.89%,Medium (1000-2000)
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,"1,525.00%","1,591.00%",90.95%,Medium (1000-2000)
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,"2,143.00%","2,204.00%",90.58%,Large (2000-5000)
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,"1,680.00%","1,739.00%",90.33%,Medium (1000-2000)

In [50]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

TypeError: Could not convert 395.00%910.00% to numeric

In [51]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})

# Display results
size_summary

NameError: name 'size_passing_math' is not defined

## Scores By School Type

In [52]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

TypeError: Could not convert 1,749.00%1,371.00%395.00%910.00%1,653.00%1,525.00%2,143.00%1,680.00% to numeric